<div class="container">
  <h1>Take2</h1>
  <h2>The Movie Recast App</h2>
  <br>
  <h2>Search for a Movie</h2>
  <form id="movieSearch" class="button-size">
    <div class="row">
      <input class="two-thirds column" type="text" name="movie"></input>
      <button class="one-third column" type="submit">Search!</button>
    </div>
  </form>
  <div id="results-header"></div>
  <div id="buttons-view"></div>
</div>
<br>
<div class="container">
  <h2>Vote on previous Take2 Recasts!</h2>

  {{#each recast}}
  <div class="card" style="width: 36rem;">

    <div class="card-body">
      <h2>{{dataValues.movie}}</h2>
      <h3>Recast by {{dataValues.user}}</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Character Role</th>
            <th scope="col">New Cast</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{dataValues.role1}}</td>
            <td>{{dataValues.actorForRole1}}</td>
          </tr>
          <tr>
            <td>{{dataValues.role2}}</td>
            <td>{{dataValues.actorForRole2}}</td>
          </tr>
          <tr>
            <td>{{dataValues.role3}}</td>
            <td>{{dataValues.actorForRole3}}</td>
          </tr>
          <tr>
            <td>{{dataValues.role4}}</td>
            <td>{{dataValues.actorForRole4}}</td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-primary vote" id="{{dataValues.id}}">Thumbs Up
        <span class="badge badge-pill badge-success">{{dataValues.thumbsUp}}</span>
      </a>
    </div>
  </div>
  <br>
  {{/each}}
</div>